.container{

	max-width: 100px;
	margin: 0 auto;
}

header{
	display: flex;
	align-items: center;
	justify-content:space-between;

}

ul{
display: flex;
align-items: center;
}
li{
	margin-right: 20px;
	list-style: none;
}

li:last-chlid{
	margin-right: 0px;
}
